.login{
    position: absolute;
width: 200.79px;
height: 105.3px;
left: 203.18px;
top: 37.68px;

}
.first{
   
background: #132F3A;
position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 0px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }

  nav {
    background: #132F3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
  }
.left{
    display:inline-block;
    align-items: center;
    width:40%;
    height:40%;
    padding:60px;
}
.ordernow{

width:80px;
height:20px;
border: 0.938628px solid #FFB300;
border-radius: 6px;
display: inline-block;
background-color: #FFB300;

}
button{
    display:inline-block;
}
h1{
    align-items: center;
}
.play{
    border-radius: 100px;
    padding:20px;
    display:inline-block;
    background-color: blue;
}
.right{
    padding: 40px;
    display: inline-block;
    align-items: right;
    position: absolute;
width: 599px;
height: 694.06px;

}
img{
    width:400px;
    height:400px;
}